.app__mode-selected {
  padding-top: 20px;
  display: flex;
  align-items: center;
  font-size: 48px;
}

.mode-selected {
  display: flex;
  flex-direction: column;

}

.start,
.stop {
  cursor: pointer;
}