.pages {
  height: 350px;
  display: flex;
  align-items: center;
  font-size: 13px;

  &__all-voices {
    margin-top: 20px;
  }
}

.all-voices {
  height: 350px;

  &__item {
    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
}