.app__mode-selected {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.mode-selected {
  display: flex;
  flex-direction: column;

}

.start,
.stop {
  cursor: pointer;
}