.mode-selectors__mode-selector {}

.mode-selector__btn {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.mode-selector__icon {
  width: 60px;
  height: 60px;
}

.mode-selector__text {
  margin-top: 10px;
  font-size: 2rem;
}

.active {
  fill: #1d801d;
  color: #1d801d;
}